@font-face {
  font-family: 'Doodle';
  src: local('Doodle'), url(./fonts/Doodle.ttf) format('truetype');
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-family: Doodle;
  letter-spacing: 3px;
  background-image: url(./img/bg1.jpg);
  background-size: 380px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

.center {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  font-family: Doodle;
}
